<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій додаток Messenger</title>
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function checkUserOnlineStatus(userId) {
            $.ajax({
                url: '/get_user_status/',
                method: 'GET',
                data: { user_id: userId },
                success: function(response) {
                    if (response.status === 'online') {
                        $('#user_status').text('Online');
                    } else {
                        $('#user_status').text('Offline');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error while fetching user status:', error);
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            var userId = 'вставте_ID_поточного_користувача';
            checkUserOnlineStatus(userId);
        });
    </script>
</body>
</html>
